# DATA PREPROCESSING

## Wczytanie pakietów i ustawień

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

pd.set_option('display.max_columns', None)

### Wczytanie wszystkich plików CSV do jednego DataFrame

In [2]:
folder_path = Path('../data/raw')
all_files = folder_path.glob('*.csv')

df_all = pd.concat(
    [
        pd.read_csv(f, delimiter=',', decimal=',', low_memory=False)
        for f in all_files
    ],
    ignore_index=True
)

### Wstępna selekcja danych
Usuwam obserwacje z brakami w kolumnie OBS_VALUE oraz obserwacje, które wprawdzie mają dane, ale są oflagowane jako 'b' ("break in time series") - są one często nieprawidłowe lub ze złą jednostką.

In [3]:
if 'OBS_FLAG' in df_all.columns:
    df_all = df_all[df_all['OBS_FLAG'] != 'b']
df_all = df_all.dropna(subset=['OBS_VALUE'])

### Wybór najnowszego roku dla każdego miasta i wskaźnika
Pomiary/badania były przeprowadzane w różnych miastach w różnym czasie. Do celów zadania wybieram zawsze najświeższe dostępne dane.

In [4]:
df_all = df_all.sort_values(
    ['Geopolitical entity (declaring)', 'Urban audit indicator', 'TIME_PERIOD'],
    ascending=[True, True, False]
)

df_latest = df_all.drop_duplicates(
    subset=['Geopolitical entity (declaring)', 'Urban audit indicator'],
    keep='first'
)

city_meta = (
    df_latest[['Geopolitical entity (declaring)', 'cities']]
    .drop_duplicates()
)

df = df_latest.pivot(
    index='Geopolitical entity (declaring)',
    columns='Urban audit indicator',
    values='OBS_VALUE'
).reset_index()

df = df.merge(
    city_meta,
    on='Geopolitical entity (declaring)',
    how='left'
)

### Zmiana nazw kolumn

In [5]:
rename_map = {
    'Geopolitical entity (declaring)': 'City',
    'cities': 'Country_code',
    'Population on the 1st of January, total': 'Population',
    'Age dependency ratio (population aged 0-19 and 65 and more to population aged 20-64)': 'Age_dependency_ratio',
    'Young-age dependency ratio (population aged 0-19 to population 20-64 years)': 'Young_dependency_ratio',
    'Old age dependency ratio (population 65 and over to population 20 to 64 years)': 'Old_dependency_ratio',
    'Median population age': 'Median_age',
    'Foreigners as a proportion of population': 'Share_foreigners',
    'Infant mortality rate (per 1000 live births)': 'Infant_mortality_rate',
    'Crude birth rate (per 1000 inhabitants)': 'Crude_birth_rate',
    'Number of deaths per year under 65 due to diseases of the circulatory or respiratory systems':
        'Deaths_under_65_circulatory_respiratory',
    'Crude death rate (per 1000 inhabitants)': 'Crude_death_rate',
    'Share of persons at risk of poverty or social exclusion -%': 'Share_poverty_risk',
    'Average area of living accommodation - m²/person': 'Avg_living_area_m2_per_person',
    'Average annual rent for housing per m² - EUR': 'Avg_annual_rent_per_m2',
    'Average price for buying an apartment  per m2 - EUR': 'Avg_apartment_price_per_m2',
    'Share of students in higher education in the total population (per 1000 persons)': 'Share_students_higher_edu',
    'Share of early leavers from education and training, total -%': 'Share_early_leavers',
    'Number of available beds per 1000 residents': 'Beds_per_1000',
    'Total nights spent in tourist accommodation establishments per resident population': 'Tourist_nights_per_resident',
    'Unemployment rate': 'Unemployment_rate',
    'Share of journeys to work by public transport (rail, metro, bus, tram) -%': 'Share_public_transport',
    'Share of journeys to work by car or motor cycle -%': 'Share_car_motorcycle',
    'Average time of journey to work - minutes': 'Avg_journey_minutes',
    'Number of registered cars per 1000 population': 'Cars_per_1000',
    'People killed in road accidents per 10000 pop.': 'Road_deaths_per_10000',
    'Total number of hours of sunshine per day': 'Sunshine_hours_per_day',
    'Average temperature of warmest month - degrees': 'Temp_warmest_month',
    'Average temperature of coldest month - degrees': 'Temp_coldest_month',
    'Rainfall - litre/m²': 'Rainfall_l_per_m2',
    'Annual average concentration of NO2 (µg/m³)': 'NO2_avg_conc',
    'Municipal waste generated (domestic and commercial), total - 1000 t': 'Municipal_waste_1000t'
}

df = df.rename(columns=rename_map)

### Konwersja typów kolumn

In [6]:
# Lista wszystkich kolumn oprócz nazwy miasta
numeric_cols = df.columns.drop(['City', 'Country_code'])

# Konwersja na liczby
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Teraz nazwy miast zostają, a reszta jest numeryczna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 32 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   City                                     926 non-null    object
 1   Age_dependency_ratio                     835 non-null    float64
 2   NO2_avg_conc                             1 non-null      float64
 3   Avg_annual_rent_per_m2                   371 non-null    float64
 4   Avg_living_area_m2_per_person            606 non-null    float64
 5   Avg_apartment_price_per_m2               261 non-null    float64
 6   Temp_coldest_month                       8 non-null      float64
 7   Temp_warmest_month                       8 non-null      float64
 8   Avg_journey_minutes                      149 non-null    float64
 9   Crude_birth_rate                         851 non-null    float64
 10  Crude_death_rate                         876 non-null    float64
 11  Share_foreigners                         799 non-null    float64
 12  Infant_mortality_rate                    840 non-null    float64
 13  Median_age                               828 non-null    float64
 14  Municipal_waste_1000t                    623 non-null    float64
 15  Beds_per_1000                            588 non-null    float64
 16  Deaths_under_65_circulatory_respiratory  811 non-null    float64
 17  Cars_per_1000                            739 non-null    float64
 18  Old_dependency_ratio                     835 non-null    float64
 19  Road_deaths_per_10000                    743 non-null    float64
 20  Population                               832 non-null    float64
 21  Rainfall_l_per_m2                        8 non-null      float64
 22  Share_early_leavers                      147 non-null    float64
 23  Share_car_motorcycle                     227 non-null    float64
 24  Share_public_transport                   228 non-null    float64
 25  Share_poverty_risk                       51 non-null     float64
 26  Share_students_higher_edu                720 non-null    float64
 27  Tourist_nights_per_resident              586 non-null    float64
 28  Sunshine_hours_per_day                   8 non-null      float64
 29  Unemployment_rate                        692 non-null    float64
 30  Young_dependency_ratio                   835 non-null    float64
 31  Country_code                             926 non-null    object
dtypes: float64(30), object(2)
memory usage: 231.6+ KB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age_dependency_ratio,835.0,66.218443,8.854913,41.20,60.9000,65.900,72.0000,130.90
NO2_avg_conc,1.0,35.000000,NaN,35.00,35.0000,35.000,35.0000,35.00
Avg_annual_rent_per_m2,371.0,54.276011,53.804471,4.91,9.0750,39.290,84.0000,256.80
Avg_living_area_m2_per_person,606.0,37.385429,10.413019,14.10,29.0000,39.130,46.0000,56.50
Avg_apartment_price_per_m2,261.0,2275.468008,1122.187785,333.03,1559.1400,2022.000,2647.0000,9074.00
Temp_coldest_month,8.0,7.450000,2.712932,4.20,5.7250,6.850,9.4000,12.20
Temp_warmest_month,8.0,28.162500,0.921082,27.00,27.4250,28.050,29.0500,29.30
Avg_journey_minutes,149.0,24.397651,4.094527,17.50,21.9000,23.700,26.0000,39.90
Crude_birth_rate,851.0,9.033173,2.778824,0.01,7.2300,8.980,10.5650,42.29
Crude_death_rate,876.0,10.448767,2.948422,0.38,8.5400,10.415,12.2700,19.61
Share_foreigners,799.0,10.409512,8.191818,0.00,4.1000,9.100,14.8500,58.20
Infant_mortality_rate,840.0,48.229190,480.277522,0.00,2.1800,3.485,4.8300,6750.24
Median_age,828.0,42.316184,4.341769,17.00,39.8000,42.700,45.1000,54.20
Municipal_waste_1000t,623.0,524.628395,4094.800323,0.00,38.1100,64.000,127.5050,80262.00
Beds_per_1000,588.0,40.048793,75.260200,0.00,11.3850,20.690,35.0350,795.35
Deaths_under_65_circulatory_respiratory,811.0,95.284834,179.410004,0.00,30.0000,49.000,95.0000,2628.00
Cars_per_1000,739.0,495.150338,198.228303,72.06,415.5600,469.260,534.7000,4620.04
Old_dependency_ratio,835.0,32.204192,7.200577,4.50,27.6000,31.900,36.1500,69.50
Road_deaths_per_10000,743.0,0.286110,0.268203,0.00,0.1300,0.220,0.3700,2.20
Population,832.0,249113.379808,599366.813928,37960.00,80938.0000,127602.000,220709.0000,10353710.00
Rainfall_l_per_m2,8.0,660.425000,162.130915,435.90,529.1000,664.050,762.2750,915.10
Share_early_leavers,147.0,7.723129,4.204092,0.00,4.9000,7.100,10.1500,21.00
Share_car_motorcycle,227.0,62.923568,12.883868,26.00,54.4000,63.700,71.9000,89.40
Share_public_transport,228.0,18.113904,10.243008,3.30,10.8000,15.950,22.3250,60.41
Share_poverty_risk,51.0,22.944118,8.201918,9.00,15.5000,25.000,29.2750,43.00
Share_students_higher_edu,720.0,76.886667,74.397552,0.00,24.6500,61.000,111.0000,583.90
Tourist_nights_per_resident,586.0,3.443737,5.344321,0.00,0.9525,1.910,3.9800,61.98
Sunshine_hours_per_day,8.0,7.475000,0.618177,6.60,7.1250,7.400,7.8000,8.50
Unemployment_rate,692.0,8.321792,5.434708,1.29,4.5000,6.230,11.3875,44.62
Young_dependency_ratio,835.0,34.059880,6.953517,22.40,29.1000,32.400,38.3500,126.40

### Poprawianie zmiennych
Śmiertelność noworodków: Analiza wartości odstających sugeruje błąd w jednostkach – dane prawdopodobnie wprowadzono w przeliczeniu na 1 mln zamiast na 1 tys. urodzeń. Wymagana jest rekalibracja skali.
Problemy układu oddechowego: Liczba zgonów z przyczyn oddechowych została zestawiona z całkowitą populacją w celu uzyskania wskaźnika relatywnego.

In [9]:
df['Infant_mortality_rate'] = df['Infant_mortality_rate'].apply(lambda x: x/1000 if x >1000 else x)

if 'Deaths_under_65_circulatory_respiratory' in df.columns and 'Population' in df.columns:
    df['Deaths_under_65_circ_resp_per_100k'] = (
        df['Deaths_under_65_circulatory_respiratory'] / df['Population'] * 100_000
    )

if 'Municipal_waste_1000t' in df.columns and 'Population' in df.columns:
    df['Waste_prod_rate'] = (
        df['Municipal_waste_1000t'] * 1_000_000 / df['Population']
    )

df = df.drop(['Deaths_under_65_circulatory_respiratory', 'Municipal_waste_1000t'], axis=1)

In [10]:
df['Country_code'] = df['Country_code'].astype(str).str[:2]

### Zapisanie danych

In [11]:
df.to_csv('../data/preprocessed/preprocessed_data.csv', index=False)

In [12]:
df.head(20)

,City,Age_dependency_ratio,NO2_avg_conc,Avg_annual_rent_per_m2,Avg_living_area_m2_per_person,Avg_apartment_price_per_m2,Temp_coldest_month,Temp_warmest_month,Avg_journey_minutes,Crude_birth_rate,Crude_death_rate,Share_foreigners,Infant_mortality_rate,Median_age,Beds_per_1000,Cars_per_1000,Old_dependency_ratio,Road_deaths_per_10000,Population,Rainfall_l_per_m2,Share_early_leavers,Share_car_motorcycle,Share_public_transport,Share_poverty_risk,Share_students_higher_edu,Tourist_nights_per_resident,Sunshine_hours_per_day,Unemployment_rate,Young_dependency_ratio,Country_code,Deaths_under_65_circ_resp_per_100k,Waste_prod_rate
0,'s-Gravenhage (greater city),61.1,NaN,NaN,49.30,NaN,NaN,NaN,NaN,9.64,8.38,19.4,3.06,37.0,NaN,367.25,26.0,0.17,813669.0,NaN,NaN,NaN,NaN,NaN,64.8,23.06,NaN,5.27,35.2,NL,21.138817,3915.597129
1,'s-Hertogenbosch,63.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.88,9.45,6.5,1.89,40.0,NaN,546.45,29.8,0.13,160757.0,NaN,NaN,NaN,NaN,NaN,37.1,NaN,NaN,2.53,34.0,NL,28.614617,4049.590376
2,A Coruña (greater city),67.9,NaN,85.28,37.12,NaN,NaN,NaN,NaN,5.57,10.58,7.6,4.35,48.3,16.21,427.69,40.9,0.12,247350.0,NaN,NaN,NaN,NaN,NaN,98.3,1.76,NaN,10.45,27.0,ES,27.895694,NaN
3,Aachen,54.1,NaN,9.20,46.50,2350.0,NaN,NaN,23.2,8.18,10.20,22.3,2.91,37.0,19.76,381.90,28.1,0.12,252136.0,NaN,3.3,55.4,21.9,NaN,229.6,1.93,NaN,5.63,25.5,DE,39.661135,393.835073
4,Aalborg,63.5,NaN,90.85,48.70,NaN,NaN,NaN,NaN,11.86,10.62,NaN,2.61,39.7,NaN,NaN,27.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,DK,NaN,NaN
5,Aberdeen,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.24,9.51,16.5,1.25,37.1,NaN,394.73,23.7,0.09,228180.0,NaN,NaN,NaN,NaN,NaN,117.9,NaN,NaN,7.16,29.2,UK,53.466561,261.986151
6,Acireale (greater city),63.9,NaN,NaN,38.03,NaN,NaN,NaN,NaN,7.37,11.12,3.1,5.36,46.0,53.17,822.89,33.5,0.20,50608.0,NaN,NaN,NaN,NaN,NaN,0.1,3.43,NaN,18.32,30.4,IT,27.663610,484.903573
7,Adana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TR,NaN,NaN
8,Aix-en-Provence,67.4,NaN,NaN,43.00,4962.0,NaN,NaN,NaN,9.50,8.44,9.0,2.30,37.0,57.39,540.42,31.9,0.27,147933.0,NaN,NaN,70.0,15.4,NaN,267.0,9.20,NaN,11.41,35.5,FR,18.251506,601.623708
9,Alba Iulia,48.8,NaN,NaN,17.42,NaN,NaN,NaN,NaN,8.26,7.63,NaN,3.24,NaN,16.42,NaN,21.4,NaN,74659.0,NaN,NaN,NaN,NaN,NaN,73.4,1.62,NaN,NaN,27.3,RO,69.650009,NaN
10,Albacete,59.3,NaN,72.33,35.33,NaN,NaN,NaN,NaN,6.73,7.94,6.5,3.43,44.2,11.27,445.81,25.5,0.52,173202.0,NaN,NaN,NaN,NaN,NaN,79.2,1.02,NaN,11.77,33.7,ES,25.981224,NaN
11,Alcalá de Guadaíra,63.3,NaN,74.89,NaN,NaN,NaN,NaN,NaN,6.14,7.90,2.8,0.00,43.0,NaN,475.77,22.7,0.26,76829.0,NaN,NaN,NaN,NaN,NaN,9.9,NaN,NaN,20.83,40.6,ES,37.746164,NaN
12,Alcalá de Henares,59.1,NaN,111.22,32.91,NaN,NaN,NaN,NaN,7.20,7.04,16.7,0.00,45.0,10.53,475.85,27.4,0.30,198348.0,NaN,NaN,NaN,NaN,NaN,101.0,0.93,NaN,12.29,31.7,ES,30.249864,NaN
13,Alcoy,66.5,NaN,52.93,NaN,NaN,NaN,NaN,NaN,5.99,10.61,8.9,2.80,46.5,NaN,476.92,34.6,0.34,59563.0,NaN,NaN,NaN,NaN,NaN,72.4,NaN,NaN,15.19,31.9,ES,33.577892,NaN
14,Alessandria,71.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.76,12.66,15.9,3.49,48.0,13.73,662.07,43.6,0.66,91323.0,NaN,NaN,NaN,NaN,NaN,46.9,1.67,NaN,8.93,27.8,IT,26.280346,581.233643
15,Algeciras,63.0,NaN,83.21,32.78,NaN,NaN,NaN,NaN,7.37,8.19,9.0,2.19,42.6,12.67,480.07,25.0,0.40,123943.0,NaN,NaN,NaN,NaN,NaN,30.0,1.81,NaN,23.25,38.0,ES,41.954770,NaN
16,Alicante/Alacant (greater city),62.9,NaN,85.53,37.32,NaN,NaN,NaN,NaN,6.94,8.24,17.8,1.64,44.8,31.93,430.68,30.5,0.17,350598.0,NaN,NaN,NaN,NaN,NaN,17.8,2.74,NaN,15.79,32.4,ES,30.804511,NaN
17,Alkmaar (greater city),73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.44,9.39,5.5,2.81,41.0,NaN,491.27,34.6,0.26,226692.0,NaN,NaN,NaN,NaN,NaN,30.0,NaN,NaN,3.25,38.4,NL,4.411272,4803.874861
18,Almelo,72.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.55,10.83,6.8,4.23,41.0,NaN,497.96,34.3,0.14,74317.0,NaN,NaN,NaN,NaN,NaN,30.4,NaN,NaN,4.39,38.6,NL,6.727936,4628.819786
19,Almere,58.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.28,5.62,11.6,2.35,36.0,NaN,1165.84,18.7,0.05,226500.0,NaN,NaN,NaN,NaN,NaN,34.6,1.88,NaN,4.08,40.2,NL,26.931567,4097.130243